<div class="articolo-container" *ngIf="articolo">
  <div class="articolo-img">
    <img [src]="articolo.urlImmagine" alt="{{ articolo.nome }}" />
  </div>

  <div class="articolo-info">
    <h2>{{ articolo.nome }}</h2>
    <p class="descrizione">{{ articolo.descrizione }}</p>
    <p><strong>Marca:</strong> {{ articolo.marca?.nome }}</p>
    <p><strong>Categoria:</strong> {{ articolo.categoria?.nome }}</p>
    <p><strong>Genere:</strong> {{ articolo.genere?.nome }}</p>
    <p class="prezzo">{{ articolo.prezzo | currency : "EUR" }}</p>

    <form
      [formGroup]="formTaglia"
      (ngSubmit)="onConferma()"
      class="taglia-form"
    >
      <div class="form-field" *ngIf="articolo?.tagliaScarpe !== null">
        <label for="tagliaScarpe">Taglia Scarpa</label>
        <input id="tagliaScarpe" type="number" formControlName="taglia" />

        <small
          class="error"
          *ngIf="
            formTaglia.get('taglia')?.hasError('min') ||
            formTaglia.get('taglia')?.hasError('max')
          "
        >
          La taglia deve essere tra 30 e 50
        </small>
      </div>

      <!-- Indumenti -->
      <div class="form-field" *ngIf="articolo?.tagliaIndumento !== null">
        <label for="tagliaIndumento">Taglia Indumento</label>
        <select id="tagliaIndumento" formControlName="taglia">
          <option value="" disabled selected>Seleziona una taglia</option>
          <option *ngFor="let t of taglieIndumento" [value]="t.nome">
            {{ t.nome }}
          </option>
        </select>
      </div>

      <button type="submit" class="btn blue" [disabled]="formTaglia.invalid">
        Aggiungi al carrello
      </button>
    </form>
  </div>
</div>

<div
  *ngIf="showMessage"
  class="add-message"
  [ngClass]="[messageType, fadingOut ? 'fade-out' : 'fade-in']"
>
  {{ messageText }}
</div>
