<div class="carrello-container">
  <div class="articoli-lista" *ngIf="items.length > 0; else noItems">
    <div *ngFor="let item of items" class="articolo-card">
      <div class="img-container">
        <img
          [src]="item.articolo.urlImmagine"
          alt="{{ item.articolo.nomeArticolo }}"
        />
      </div>
      <div class="articolo-info">
        <h3>{{ item.articolo.nome }}</h3>
        <p>{{ item.articolo.descrizione }}</p>
        <p><strong>Marca:</strong> {{ item.articolo.marca.nome }}</p>
        <p><strong>Categoria:</strong> {{ item.articolo.categoria.nome }}</p>
        <p><strong>Genere:</strong> {{ item.articolo.genere.nome }}</p>
        <p>
          <strong>Taglia:</strong>
          {{
            item.taglia
              ? item.taglia
              : item.articolo.categoria?.nome === "Scarpe"
              ? "Taglia scarpa non inserita"
              : "Tutte le taglie"
          }}
        </p>

        <p>
          <strong>Quantità:</strong> {{ item.quantita }}
          <button (click)="aumentaQuantita(item.id)" class="icon-btn">
            <i class="fa-solid fa-plus"></i>
          </button>
          <button (click)="diminuisciQuantita(item.id)" class="icon-btn">
            <i class="fa-solid fa-minus"></i>
          </button>
        </p>
        <p class="prezzo">
          <strong>Prezzo:</strong>
          {{ item.articolo.prezzo * item.quantita | currency : "EUR" }}
        </p>
        <button (click)="rimuoviItem(item.id)">Rimuovi</button>
      </div>
    </div>
  </div>

  <ng-template #noItems>
    <div class="carrello-vuoto">
      <p class="no-articoli">
        Il tuo carrello è vuoto! <br />
        Va a riempirlo!
      </p>
      <button routerLink="/articoli" class="btn-torna">
        Vai al catalogo degli articoli
      </button>
    </div>
  </ng-template>

  <div class="totale-fisso" *ngIf="items.length > 0">
    <h2>Totale Carrello</h2>
    <table>
      <tr>
        <td>Totale articoli:</td>
        <td>{{ calcolaTotale() | currency : "EUR" }}</td>
      </tr>
    </table>
    <button (click)="procediPagamento()">Procedi al checkout</button>
  </div>
</div>
