<h1 class="titolo">conferma ordine</h1>

<div class="checkout-container">
  <!-- FORM DI CHECKOUT -->
  <div class="checkout-form">
    <form #ordineForm="ngForm" (ngSubmit)="confermaOrdine()" novalidate>
      <div>
        <label>Nome</label>
        <input
          type="text"
          [(ngModel)]="ordine.nome"
          name="nome"
          required
          #nome="ngModel"
        />
        <div *ngIf="nome.invalid && nome.touched" class="errore">
          Il nome è obbligatorio
        </div>
      </div>

      <div>
        <label>Cognome</label>
        <input
          type="text"
          [(ngModel)]="ordine.cognome"
          name="cognome"
          required
          #cognome="ngModel"
        />
        <div *ngIf="cognome.invalid && cognome.touched" class="errore">
          Il cognome è obbligatorio
        </div>
      </div>

      <div>
        <label>Email</label>
        <input
          type="email"
          [(ngModel)]="ordine.email"
          name="email"
          required
          email
          #email="ngModel"
        />
        <div *ngIf="email.invalid && email.touched" class="errore">
          Inserisci una email valida
        </div>
      </div>

      <div>
        <label>Indirizzo</label>
        <input
          type="text"
          [(ngModel)]="ordine.indirizzo"
          name="indirizzo"
          required
          #indirizzo="ngModel"
        />
        <div *ngIf="indirizzo.invalid && indirizzo.touched" class="errore">
          <i class="fa-solid fa-circle-exclamation"></i>
          Per completare l’ordine inserisci l’indirizzo di spedizione
        </div>
      </div>

      <!-- il bottone viene disabilitato se il form è invalido -->
      <button type="submit" [disabled]="ordineForm.invalid">
        Conferma Ordine
      </button>
    </form>
  </div>

  <!-- MINI CARRELLO (SCROLL) -->
  <div class="checkout-carrello">
    <h3>Carrello</h3>
    <div class="checkout-articoli-scroll">
      <div *ngFor="let item of carrello" class="checkout-img-card">
        <img
          [src]="item.articolo.urlImmagine"
          alt="{{ item.articolo.nomeArticolo }}"
        />
      </div>
    </div>
  </div>
</div>

<div class="totale-checkout">
  <strong>Totale: </strong
  >{{ totaleCarrello | currency : "EUR" : "symbol" : "1.2-2" }}
</div>
