<div class="ringraziamento-container">
  <div class="messaggio-card">
    <div id="animazione-pacco" class="icona-top"></div>

    <h1>Grazie per il tuo ordine!</h1>

    <p class="sottotitolo">
      Il tuo acquisto è stato completato con successo!
      <i class="fa-solid fa-thumbs-up thumbs-icon"></i>
    </p>
    <p class="sottotitolo">
      <i class="fa-solid fa-envelope mail-icon"></i>
      Riceverai un'email di conferma con i dettagli del tuo ordine.
    </p>

    <div class="credits">
      <p>
        Progetto realizzato da <strong>Alessandro Vivaldi</strong>,
        <strong>Cristian Borioni</strong> e <strong>Giuliano Cafolla</strong
        ><br />
        per l'academy di Java presso <strong>Betacom</strong>.
      </p>
    </div>
  </div>
</div>
