<div class="main-content">
  <div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <img src="/images/iconaSito.png" alt="Sport Logo" class="logo" />
        <h2>CodeRunner Shop</h2>
        <p>Accedi al tuo account</p>
      </div>

      <form #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
        <!-- Username -->
        <div class="form-group">
          <input
            type="text"
            id="username"
            name="username"
            ngModel
            required
            placeholder=" "
            autocomplete="off"
          />
          <label for="username">Username</label>
        </div>

        <!-- Password -->
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            required
            placeholder=" "
            autocomplete="off"
          />
          <label for="password">Password</label>
        </div>

        <p class="error-msg">{{ msg }}</p>

        <!-- Login button -->
        <button
          type="submit"
          [disabled]="!signinForm.valid"
          class="btn primary w-100"
        >
          Login
        </button>

        <!-- Registrazione link -->
        <div class="register-box">
          <p>Non hai un account?</p>
          <button
            type="button"
            class="btn secondary w-100"
            routerLink="/registrazione"
          >
            Registrati
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
