.navbar {
  height: 60px;
  background: #2e3b36;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar a {
  cursor: pointer;
}

.navbar .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.6rem;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  color: #4caf50;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.logout i,
.login i,
.carrello i {
  margin-right: 6px;
}

/* nuovo wrapper */
.nav-right {
  margin-left: auto; /* manda tutto a destra */
  display: flex;
  align-items: center;
}

/* Stile per l'icona del carrello */.carrello-icon {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -6px;
  left: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: bold;
}

