<nav class="navbar">
  <a routerLink="" class="nav-link">Home</a>
  <a routerLink="articoli" class="nav-link">Articoli</a>

  <a *ngIf="!auth.isAutentificated()" routerLink="login" class="nav-link login">
    <i class="fa-solid fa-arrow-right-to-bracket"></i>Login
  </a>
  <a routerLink="/admin" *ngIf="auth.isRoleAdmin()" class="nav-link">Admin</a>
  <a *ngIf="auth.isAutentificated()" (click)="logout()" class="nav-link logout">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout
  </a>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
