.navbar {
  height: 60px;
  background: #2e3b36;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar a{
  cursor: pointer;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 2rem;
}

.navbar .nav-link:hover {
  color: #4caf50;
}

.logout {
  margin-left: auto;
  margin-right: 0; /* opzionale */
}
