.navbar {
  height: 60px;
  background: #2e3b36;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar a {
  cursor: pointer;
}

.navbar .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.6rem;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  color: #4caf50;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.logout i, .login i {
  margin-right: 6px; 
}

.logout,
.login {
  margin-left: auto;
  margin-right: 0;
}
