<div class="admin-lista-articoli">
  <div class="admin-articolo-card" *ngFor="let articolo of articoli">
    <a [routerLink]="['/dettagliArticolo', articolo.id]">
      <!-- Immagine -->
      <div class="img-container">
        <img [src]="articolo.urlImmagine" alt="{{ articolo.nomeArticolo }}" />
      </div>

      <!-- Info -->
      <div class="admin-articolo-info">
        <h3>{{ articolo.nomeArticolo }}</h3>
        <p class="descrizione">{{ articolo.descrizione }}</p>
        <p><strong>Marca:</strong> {{ articolo.marca }}</p>
        <p><strong>Categoria:</strong> {{ articolo.categoria }}</p>
        <p><strong>Genere:</strong> {{ articolo.genere }}</p>
        <p *ngIf="articolo.tagliaScarpe"><strong>Taglia Scarpe:</strong> {{ articolo.tagliaScarpe }}</p>
        <p *ngIf="articolo.tagliaIndumento"><strong>Taglia Indumento:</strong> {{ articolo.tagliaIndumento }}</p>
        <p class="prezzo">{{ articolo.prezzo | currency: 'EUR' }}</p>
      </div>
    </a>
  </div>
</div>
