<table
  style="width: 80%; border-collapse: collapse; margin: 20px auto"
  border="1"
>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Prezzo</th>
      <th>Descrizione</th>
      <th>Marca</th>
      <th>Immagine</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let articolo of articoli">
      <a [routerLink]="['/dettagliArticolo', articolo.id]">
        <td>{{ articolo.nomeArticolo }}</td>
        <td>{{ articolo.prezzo | currency : "EUR" }}</td>
        <td>{{ articolo.descrizione }}</td>
        <td>{{ articolo.marca }}</td>
        <td>
          <img [src]="articolo.urlImmagine" alt="immagine articolo" width="80" />
        </td>
      </a>
    </tr>

    <p>articoli works!</p>
  </tbody>
</table>
